font-face {
  font-family: 'Quantify';
  src: url('./fonts/Quantify.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Quantify', Arial;
  letter-spacing: 1px;
  overflow-x: hidden;
}

#top_nav{
  width: 100%;
  background-color: black;
  border-bottom: 7px solid #d1c762;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}

#top_nav ul a li{
  display: inline-block;
  color: white;
}

#top_nav #menu{
  float: left;
}

#top_nav #menu a{
  text-decoration: none;
}

#top_nav #menu a li{
  padding-left: 50px;
  font-size: 1vw;
  margin-top: 1.5%;
  margin-left: -8%;
  padding-right: 5%;
  -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#top_nav #menu a li:hover{
  color: gray;
}

#top_nav #social{
  float: right;
  margin: 15px 60px 10px 0px;
}

#top_nav #social img:hover{
   transform: scale(1.3);
}

#top_nav #social img{
  width: 2vw;
  height: 2vw;
  -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#top_nav #social li{
  padding-left: 45px;
}

#top_nav #icon{
  display: none;
  float: right;
  margin: 4% 7% 3% 0%;
}

#top_nav #icon div{
  width: 8vw;
  height: 1vw;
  margin-bottom: 20%;
  background-color: white;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background{
  width: 100%;
  background-image: url('../images/background.jpg');
  border-bottom: 2vw solid black;
}

#background #home{
  text-align: center;
  line-height: 1.2vw;
  padding: 23% 0% 23% 3%;

      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 3s; /* Firefox < 16 */
          -ms-animation: fadein 3s; /* Internet Explorer */
           -o-animation: fadein 3s; /* Opera < 12.1 */
              animation: fadein 3s;
}

#background #home h1{
    font-size: 2.5vw;
}

#background #home h2{
    font-size: 1.7vw;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#about{
  width: 100%;
  background-image: url('../images/keyboard.jpg');
  border-bottom: 2vw solid black;
  padding: 14% 25% 12% 25%;
}

#about-content{
  background-color: white;
  width: 50%;
  border: 7px solid #d1c762;
}

#text {
  padding: 4% 8% 5% 9%;
  font-size: .9vw;
  line-height: 2vw;
}

#text a{
  text-decoration: none;
  color: black;
  -webkit-transition: font-size .5s ease-out;
    -moz-transition: font-size .5s ease-out;
    -o-transition: font-size .5s ease-out;
    transition: font-size .5s ease-out;
}

#text a:hover{
  font-size: .95vw;
}

#projects{
  width: 100%;
  background-image: url('../images/triangles.jpg');
  border-bottom: 2vw solid black;
}

#projects h1{
  margin: 0;
  padding-top: 15vw;
  padding-left: 0.5vw;
  font-size: 1.8vw;
  width: 100%;
  text-align: center;
}

#projects .gallery{
    padding: 10% 28% 6% 29%;
}

#projects .gallery .box{
  border: 0.4vw solid black;
  background-color: #000;
  margin-bottom: 10%;
  height: 7vw;
  transition: 1s;
}

#projects .gallery .box:hover {
  transform: scale(1.1);
}

#projects .gallery #box1{
  background-image: url("../Screenshot2.png");
  background-position: 0vw -10.5vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

#projects .gallery #box2{
  background-image: url("https://images.unsplash.com/photo-1557322159-0a5638717017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1350&q=80");
  background-position: 0vw -3vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

#projects .gallery #box3{
  background-image: url("https://images.unsplash.com/photo-1553027257-7f791c15f20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: 0vw -5vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

#contact{
  width: 100%;
  background-image: url('../images/wire.jpg');
  padding: 10% 30% 10% 33%;
}

#contact section{
  font-size: 1vw;
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 35%;
}

#contact section form{
  padding: 4vw 0vw;
}

#contact section form h3{
  color: white;
  letter-spacing: 0.2vw;
}

#contact section form input{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.1vw solid white;
  margin-bottom: 0.5vw;
  padding: 0.5vw 0vw;
  width: 50%;
  font-size: 0.8vw;
  color: white;
}

#contact section form textarea{
  font-family: 'Arial';
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.1vw solid white;
  width: 50%;
  height: 5vw;
  max-width: 50%;
  font-size: 0.8vw;
  color: white;
}

#contact section form button{
  background-color: #d1c762;
  border: none;
  margin-top: 0.5vw;
  padding: 0.8vw 0vw;
  width: 50%;
  font-size: 0.9vw;
  cursor: pointer;
}

#contact section form button:hover{
  background-color: #dbd490;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

footer{
  background-color: black;
  border-top: 10px solid #d1c762;
  width: 100%;
  color: white;
}

footer p{
  float: left;
  font-size: 17px;
  margin-top: 37px;
  margin-left: 30px;
}

footer #to-top{
  float: right;
  font-size: 1vw;
  margin: -2% 45% 0% 45%;
  width: 10%;
  text-align: center;
  color: white;
  text-decoration: none;
}

footer #to-top:hover{
  -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    color: gray;
}

footer div{
  clear: both;
  text-align: center;
  font-size: 10px;
  padding-bottom: 5px;
}

footer div a{
  color: white;
}

@media only screen and (max-width: 1280px) {
  #top_nav #menu a li{
    font-size: 1.4vw;
    margin-top: 2.5%;
  }

  #top_nav #social img{
    width: 40px;
    height: 40px;
  }

  #background {
    padding: 10% 0%;
  }

  #background #home h1{
      font-size: 3vw;
  }

  #background #home h2{
      font-size: 2.2vw;
  }

  #about{
    padding: 20% 18% 20% 20%;
  }

  #about-content{
    width: 60%;
  }

  #text {
    padding: 4% 7% 4% 8%;
    font-size: 1.2vw;
    line-height: 2.3vw;
  }

  #text a:hover{
    font-size: 1.3vw;
  }

  #projects .gallery{
      padding: 15% 20% 10% 20%;
  }

  #projects .gallery .box{
    height: 9.5vw;
  }

  #projects .gallery #box1{
    background-position: 0vw -14.5vw;
  }

  #projects .gallery #box2{
    background-position: 0vw -7vw;
  }

  #projects .gallery #box3{
    background-position: 0vw -8vw;
  }

  #contact{
    padding: 15% 25% 15% 25%;
  }

  #contact section{
    width: 50%;
  }

  #contact section form{
    padding: 6vw 0vw;
  }

  #contact section form h3{
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
  }

  #contact section form input{
    font-size: 1vw;
    padding: 1vw 0vw;
  }

  #contact section form textarea{
    font-size: 1vw;
    padding: 1vw 0vw;
    margin-bottom: 1vw;
  }

  #contact section form button{
    margin: 0.5vw 0vw;
    font-size: 1.2vw;
  }

  footer #to-top{
      font-size: 1.3vw;
      margin-top: -3%;
  }
}

@media only screen and (max-width: 768px) {
  html, body{
    overflow-x: hidden;
  }

  .parallax {
    background-attachment:scroll;
  }

  #top_nav #icon {
    display: block;
  }

  #top_nav ul{
    display: none;
  }

  #top_nav:hover ul{
    display: block;
    clear: both;
  }

  #top_nav:hover #menu{
    width: 100%;
    margin-top: -2%;
    padding: 0;
  }

  #top_nav:hover #menu li{
    display: block;
    font-size: 5vw;
    padding: 2% 0% 2% 5%;
    margin: 0;
    -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
  }

  #top_nav:hover #menu li:hover{
    background-color: gray;
    color: black;
  }

  #top_nav:hover #social{
    padding-bottom: 2%;
    width: 100%;
    margin: 0% -25%;
  }

  #top_nav:hover #social img{
    width: 8vw;
    height: 8vw;
  }

  #background {
    padding: 40% 10% 40% 0%;
    background-size: cover;
  }

  #background #home h1{
      font-size: 6vw;
  }

  #background #home h2{
      font-size: 4vw;
  }

  #about{
    padding: 15% 10%;
  }

  #about-content{
    width: 77%;
  }

  #text {
    padding: 5% 10%;
    font-size: 2.5vw;
    line-height: 4.75vw;
  }

  #text a:hover{
    font-size: 2.75vw;
  }

  #projects h1{
    padding-top: 35vw;
    padding-left: 2vw;
    font-size: 4vw;
  }

  #projects .gallery{
      padding: 15% 10% 10% 10%;
  }

  #projects .gallery .box{
    height: 15vw;
  }

  #projects .gallery #box1{
    background-position: 0vw -19.5vw;
  }

  #projects .gallery #box2{
    background-position: 0vw -10vw;
  }

  #projects .gallery #box3{
    background-position: 0vw -11vw;
  }

  #contact{
    padding: 10% 5% 10% 10%;
  }

  #contact section{
    font-size: 2vw;
    width: 80%;
  }

  #contact section form{
    padding: 10vw 0vw;
  }

  #contact section form h3{
    color: white;
    font-size: 2.5vw;
    letter-spacing: 0.35vw;
  }

  #contact section form input{
    font-size: 2vw;
    padding: 1vw 0vw;
    margin: 0.75vw 0vw;
    width: 70%;
  }

  #contact section form textarea{
    font-size: 2vw;
    padding: 1vw 0vw;
    width: 70%;
    max-width: 70%;
    height: 7vw;
  }
  #contact section form button{
    font-size: 2.3vw;
    margin: 2vw 0vw;
    padding: 1.5vw 0vw;
    width: 70%;
  }

  footer p{
    font-size: 2.5vw;
  }

  footer #to-top{
      font-size: 1.5vw;
      margin-top: -4%;
  }

  footer div{
      font-size: 1.3vw;
  }
}
